@import './variables.scss';

.nav {
    background: $darkGray;
    position: fixed;
    width: 100%;
}

.nav-links {
    height: 60px;

    a {
        color: $white;
        font-size: $medium;
        text-decoration: none;
    }

    @media (max-width: $mobileM) {
        li:first-child {
            display: none;
        }
    }
}
