$accentColor: #FFA364;
$accentDark: #E5813D;
$accentLight: #FFD2B3;
$darkGray: #444c55;
$lightGray: #9da3aa;
$white: #fafafa;

$tiny: 1.2rem;
$small: 1.6rem;
$medium: 2rem;
$large: 2.4rem;

$mobileS: 321px;
$mobileM: 376px;
$mobileL: 426px;
$tablet: 769px;
$laptop: 1090px;
$laptopL: 1441px;
$desktop: 2561px;

$boxShadow: rgba(0,0,0,0.12) 2px 3px 10px 0px;