$primaryColor: #55aaff;
$primaryDark: #0c86fb;
$primaryLight: #add7ff;
$accentColor: #8d87ff;
$accentDark: #463bff;
$accentLight: #b8b3ff;
$darkGray: #444c55;
$lightGray: #9da3aa;
$white: #fafafa;

$tiny: 1.2rem;
$small: 1.6rem;
$medium: 2rem;
$large: 2.4rem;

$mobileS: 319px;
$mobileM: 374px;
$mobileL: 424px;
$tablet: 767px;
$laptop: 1088px;
$laptopL: 1439px;
$desktop: 2559px;
